# Path to your Stockfish engine executable (Windows)
STOCKFISH_PATH=C:\\Users\\NC\\Downloads\\stockfish-windows-x86-64-avx2\\stockfish\\stockfish-windows-x86-64-avx2.exe

# Default skill level (0..20). We'll use 16 by default
STOCKFISH_SKILL=16

# Server port (optional)
PORT=4001
